<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @finance.name %>
</p>

<p>
  <strong>Count:</strong>
  <%= @finance.count %>
</p>

<%= link_to 'Edit', edit_finance_path(@finance) %> |
<%= link_to 'Back', finances_path %>
