<%= form_with(model: person) do |form| %>
  <% if person.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(person.errors.count, "error") %> prohibited this person from being saved:</h2>

      <ul>
        <% person.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-groupd">
    <%= form.label :first_name %>
    <%= form.text_field :first_name %>
  </div>

  <div class="field form-group">
    <%= form.label :last_name %>
    <%= form.text_field :last_name %>
  </div>

  <div class="field form-group">
    <%= form.label :type_name %>
    <%= form.text_field :type_name %>
  </div>

  <%#=form_with model: @person do |form| %>
    <%#= form.select :type_name %>
  <%# end %>

  <div class="actions">
    <%= form.submit "Submit", class:'btn btn-secondary'%>
  </div>
<% end %>
