<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @person.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @person.last_name %>
</p>

<p>
  <strong>Type:</strong>
  <%= @person.type_name %>
</p>

<%= link_to 'Edit', edit_person_path(@person), class:'btn btn-secondary' %> |
<%= link_to 'Back', people_path, class:'btn btn-secondary' %>
