<div class="card">
<div class="card-body">

    <%= form_with(model: cash_transaction) do |form| %>
      <% if cash_transaction.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(cash_transaction.errors.count, "error") %> prohibited this transaction from being saved:</h2>

          <ul>
            <% cash_transaction.errors.each do |error| %>
              <li><%= error.full_message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="card-body">
        <div class="card-body">
          <div class="field form-group">
            <%= form.label 'Choose the Person and category' %>
            <%= form.collection_select(:persons_finance_id, PersonsFinance.where(person_id: current_user.person), :id, :show_title,{:prompt => nil,:multiple => false}, {class: 'btn btn-light dropdown-toggle'}) %>
          </div>
          <div class="field form-group">
            <%= form.label 'Amount' %>
            <%= form.text_field :amount,autofocus: true, class:"form-control", placeholder: 'Enter the amount' %>
          </div>
          <div class="field form-group">
            <%= form.label 'Note' %>
            <%= form.text_field :note, autofocus: true, class:"form-control", placeholder: 'Note' %>
          </div>
          <div class="field form-group">
            <%= form.label 'Is important?' %>
            <%= form.check_box :is_important %>
          </div>
          <%= form.submit "Create transaction", class: 'btn btn-secondary'%>
        </div>
      </div>
    <% end %>
</div>
  </div>