<div class="card">
  <div class="card-header">
    <h2>Income</h2>
  </div>
  <div class="card-body">

      <%= form_for :cash_transaction do |form| %>
      <div class="card-body">
        <div class="card-body">
          <div class="field form-group">
            <%= form.label 'Choose the Person and category' %>
            <%= form.collection_select(:persons_finance_id, PersonsFinance.person_income(current_user.person), :id, :info,{:prompt => nil,:multiple => false}, {class: 'btn btn-light dropdown-toggle'}) %>
          </div>
          <div class="field form-group">
            <%= form.label 'Amount' %>
            <%= form.text_field :amount,autofocus: true, class:"form-control", placeholder: 'Enter the amount' %>
          </div>
          <div class="field form-group">
            <%= form.label 'Note' %>
            <%= form.text_field :note,autofocus: true, class:"form-control", placeholder: 'Note text' %>
          </div>

          <div class="field form-group">
            <%= form.label 'Is important?' %>
            <%= form.check_box :is_important %>
          </div>
          <%= form.submit "Create transaction", class: 'btn btn-secondary'%>
        </div>
      </div>
    <% end %>
  </div>
</div>