<p>
  <strong>Person:</strong>
  <%= @cash_transaction.persons_finance.person.first_name %>
</p>

<p>
  <strong>Category:</strong>
  <%= @cash_transaction.persons_finance.finance.name %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @cash_transaction.amount %>
</p>

<p>
  <strong>Is important:</strong>
  <%= @cash_transaction.is_important %>
</p>

<%= link_to 'Edit', edit_cash_transaction_path(@cash_transaction) %> |
<%= link_to 'Back', cash_transactions_path %>
